@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

/* Globals */
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body, button, input {
    font-family: 'Karla', 'Avenir Next', Futura, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
	font-size: 16px;
	border: none;
}

/* HomePage View */
#homePageView {
    width: 800px;
	height: 600px;
    position: relative;
    left: 53%;
	top: 50%;
    margin: -300px 0 0 -400px;
}

.home-buttons {
    float: left;
    margin-top: -229px;
    margin-left: 294px;
    text-align: center;
}

.home-button {
    float: right;
    font-weight: bold;
    font-size: 2em;
    border: none;
    color: #fff;
    width: 192px;
    height: 223px;
}

.home-button span {
    width: inherit;
    height: inherit;
    line-height: 1.2em;
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

.button-join {
    background: url(/images/button-purple.png);
}

.button-friends {
    margin-left: 4px;
    background: url(/images/button-red.png);
}


/* Room View */
#roomView {
    position: absolute;
    /* left: 50%; */
    top: 100%;
    /* width: 800px; */
    width: 100%;
    background: #fff;
    padding: 0;
    /* margin-left: -400px; */
    height: 100%;
}

.leave-room {
    display: block;
	width: 50px;
	height: 50px;
	top: 20px;
	left: 20px;
	background: url(/images/leave-room.png);
	/* Hides text while leaving it in case someone somehow has CSS disabled and is playing our game. */
	text-indent: -1000%;
    /* When the button overlaps the board, clicks won't be received unless the button has higher z-index. */
    z-index: 2;
}

.main-content {
    float: right;
    width: 56%;
	padding: auto 20% auto;
    height: 100%;
}


/* Main content */
/* Waiting room */
.waiting-room {
    font-size: 2em;
    float: left;
	height: 100%;/
	
    /* width: 500px; */
}

.share-url {
	padding: .5em;
	margin: .5em .5em .5em -.5em;
	background: #eee;
	font-weight: bold;
    text-transform: none;
}

.twitter-share, .fb-share {
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	margin: 2em 2em 0 0;
}

.twitter-share { background: url(/images/twitter-share.png); }
.fb-share { background: url(/images/fb-share.png); }

.admin-options {
	float: left;
	width: 32%;
	margin: 2em 4% 0;
	position: absolute;
}

.admin-options button {
	font-weight: bold;
	background: #000;
	color: #fff;
	width: 50%;
	padding: 1em 0;
}

/* Game board */
.gameboard {
    width: 90%;
}

#mv-canvas {
}

/* Makes SVG scale properly. */
svg {
    width: 100%;
    height: 100%;
}


/* Players box */
.players {
	float: left;
    width: 32%;
	margin: 10% 4% 0;
	height: 50%;
	position: relative;
	z-index: 3;
}

.player {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
	background: #fff;
}

.pass-button {
    text-align: center;
    width: 100%;
	padding: .5em 0;
    border: none;
    background: #000;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.waiting {
    float: none;
    /* height: 100px; */
    /* margin-bottom: 60px; */
    /* margin-top: 60px; */
}

.player-turn {
    float: left;
}
.player-name {
    text-transform: none !important;
    font-weight: bold;
}
.player-score {
	float: right;
}

.change-name {
    width: 32px;
    height: 32px;
	float: left;
	text-indent: -9999px;
	margin: 5px -32px 0 0;
	background: url(/images/edit.png);
}

/* Chat */
#chatBox {
    width: 32%;
	height: 30%;
	max-height: 30%;
	margin: 0 0 4% 4%;
	text-transform: none;
	bottom: 0;
	float: left;
	position: absolute;
	z-index: 1;
}

.chat-text {
	display: block;
	height: 100%;
    width: 100%;
	margin: 0; padding: 0;
    overflow: scroll;	
	border: none;
	box-shadow: none;
}

.chat-form {
	display: block;
	min-height: 50px;
	margin: 0;
}

#chatBox input {
	text-transform: none;
	font-size: 1em;
	margin: 0;
	padding: .25em 0;
    width: 80%;
	border: solid black;
	border-width: 0 0 2px 0;
}

#chatBox button {
	width: 20%;
	padding: .25em 0;
	margin: 0;
	background: #000;
	color: #fff;
	border: solid black;
	border-width: 0 0 1px 0;
}

#screenNameOverlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
	padding: 20% 0 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 200;
    background-color: rgba(255, 255, 255, .9);
}

#screenNameOverlay input {
	text-transform: none;
	width: 500px;
	font-size: 2em;
	padding: .5em;
	border: solid black;
	border-width: 0 0 2px 0;
	background: rgba(255, 255, 255, 0);
}

#screenNameOverlay button {
	font-weight: bold;
	font-size: 2em;
	padding: .5em;
	border: solid black;
	border-width: 0 0 2px 0;
	background: #000;
	color: #fff;
}
