@import url(http://fonts.googleapis.com/css?family=Archivo+Black);


body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body, button {
    font-family: 'Avenir Next', 'Archivo Black', sans-serif;
    text-transform: uppercase;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 100%;
    margin-top:30px;
}
#homePageView {
    width: 800px;
    position: absolute;
    left:50%;
    margin-left: -400px;
}

#roomView {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 800px;
    height: 100%;
    background: #fff;
    padding: 0;
    margin-bottom: 120px;
    margin-left: -400px;
}
.home-buttons {
    float: left;
    margin-top: -170px;
    margin-left: 300px;
}

.home-button {
    width: 194px;
    height: 194px;
    float: right;
    margin-left: 0px;

}

.hex:before {
    content: "";
    width: 0;
    height: 0;
    left: 0px;
    border-bottom: 55px solid #6C6;
    border-left: 92px solid transparent;
    border-right: 92px solid transparent;
    position: absolute;
    top: -55px;
}

.hex {
    margin-top: 30px;
    width: 184px;
    height: 110px;
    background-color: #6C6;
    position: relative;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.hex:after {
    content: "";
    width: 0;
    left: 0px;
    position: absolute;
    bottom: -55px;
    border-top: 55px solid #6C6;
    border-left: 92px solid transparent;
    border-right: 92px solid transparent;
}

/* Waiting room */

.waiting-room {
    font-weight: bold;
    font-size: 2em;
    float: right;
    width: 500px;
}


/* Gameroom */

button {
    margin-top: 40px;
    border: none;
}

.leave-room {
    display: block;
}

/* Game board and "pass" button */
.gameboard{
    float:right;
}

.pass-button {
    text-align:center;
    width: 200px;
    height: 40px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    float:right;
    margin-top: 80px;
}


/* Players box */
.players{
    float:left;
    height:240px;
    margin-top: 200px;
    margin-left: 20px;
}
.player {
    font-size: 1em;
    height: 33.3%;
    text-align: center;
}

.waiting {
    float: none;
    height: 100px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.waiting .player{
    float: left;
    width: 33.3%;
    height: 100%;
}

.player-name {
    text-transform: none !important;
    font-weight: bold;
}

.turn-indicator {
    position: absolute;
    margin-left: -20px;
}

.change-name {
    width: 100%;
    height: 30%;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: .75em;
    font-weight: bold;
}

#chatBox {
    float: left;
    width: 170px;
    margin-right: -40px;
    height: 200px;
    font-size: 12px;
}

.chat {
    width: 100%;
    height: 100%;
    background-color: #CCCCCC;
    overflow: auto;
}

#chatBox input {
    width: 100px;
}

#chatBox button {
    margin-top: 4px;
}

#screenNameOverlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 200;
    background-color: #000;
    opacity: 0.9;
}

#screenNameOverlay div {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align:center;
}
