@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

/* Globals */
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body, button, input {
    font-family: 'Karla', 'Avenir Next', Futura, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #000;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* HomePage View */
#homePageView {
    width: 800px;
    height: 600px;
    position: relative;
    left: 53%;
    top: 45%;
    margin: -300px 0 0 -400px;
}

.home-buttons {
    float: left;
    margin-top: -228px;
    margin-left: 294px;
    text-align: center;
    cursor: pointer;
}

.home-button {
    float: right;
    font-weight: bold;
    font-size: 2em;
    border: none;
    color: #fff;
    width: 192px;
    height: 223px;
}

.home-button span {
    width: inherit;
    height: inherit;
    line-height: 1.2em;
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

.button-join {
    background: url(/images/button-purple.png);
}

.button-friends {
    margin-left: 4px;
    background: url(/images/button-red.png);
}


/* Room View */
#roomView {
    position: relative;
    top: 100%;
    width: 95%;
    margin: 0px auto;
    background: #fff;
    padding: 0;
    height: 100%;
}

.leave-room {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: -15%;
    background: url(/images/leave-room.png);
    /* Hides text while leaving it in case someone somehow has CSS disabled and is playing our game. */
    text-indent: -1000%;
    /* When the button overlaps the board, clicks won't be received unless the button has higher z-index. */
    z-index: 2;
}

/* Main content */
.right-block {
    float: right;
    width: 56%;
    height: 99%;
}

.left-block {
    float: left;
    position: relative;
    width: 35%;
    height: 100%;
    margin-left: 5%;
    padding-right: -10px;
}


/* Waiting room */
.waiting-room {
    font-size: 2em;
    float: left;
    margin-top: 20%;
}

.share-url {
    padding: .5em;
    margin: .5em .5em .5em -.5em;
    background: #eee;
    font-weight: bold;
    text-transform: none;
}

.twitter-share, .fb-share {
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    margin: 2em 2em 0 0;
}

.twitter-share { background: url(/images/twitter-share.png); }
.fb-share { background: url(/images/fb-share.png); }

.admin-options {
    float: left;
    width: 100%;
    margin-left: 2em;
    margin-top: 1%;
    position: absolute;
}

.admin-options button {
    font-weight: bold;
    background: #000;
    color: #fff;
    width: 50%;
    padding: 1em 0;
}

/* Game board */
.gameboard {
    width: 90%;
}

/* Makes SVG scale properly. */
svg {
    width: 100%;
    height: 100%;
}


/* Players box */
.players {
    width: 100%;
    min-width: 200px;
    margin-top: 20%;
    position: relative;
    z-index: 10000;
    padding-bottom: 10px;
    background-color: #FFF;
}

.player {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    background: #fff;
}

.pass-button {
    text-align: center;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    pad-top: 10px;
    position: relative;
    z-index: 10000;
    cursor: pointer;
}

.pass-text {
    display:table-cell;
    vertical-align: middle;
}

.player-turn {
    position: absolute;
}
.player-name {
    text-transform: none !important;
    font-weight: bold;
    display:inline-block;
    width: 100%;
    max-height: 50px;
    line-height: 20px;
    word-wrap: break-word;
}
.player-score {
    position: absolute;
    margin-left: -.5em;
}
.endgame{
    position: absolute;
    top: 100px;
    font-size: 20px;
    text-align: center;
    width:100%;
}
.change-name {
    display:inline;
    margin-left:-40px;
    margin-top:-9px;
    cursor: pointer;
    position: absolute;
}

.pencil {
    display: inline-block;
    width:28px;
    height:28px;
    background-image: url('/images/edit.png');
}

/* Chat */
#chatBox {
    width: 99.9%;
    text-transform: none;
    bottom: 60px;
    z-index: 100;
    position: absolute;
    height: 20%;
}

.chat-text {
    display: block;
    width: 100%;
    margin: 0; padding: 0;
    overflow: auto; 
    border: none;
    box-shadow: none;
    height: 100%;
    position: absolute;
    bottom: 40px;
}

.chat-form {
    display: block;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#chatBox input {
    text-transform: none;
    font-size: 1em;
    margin: 0;
    padding: .25em 0;
    width: 80%;
    border: solid black;
    border-width: 0 0 2px 0;
}

.chat-gradient {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    height: 20px;
    width: 100%;
    z-index: 1000;
    position: absolute;
}

#chatBox button {
    width: 20%;
    padding: .25em 0;
    margin: 0;
    background: #000;
    color: #fff;
    border: solid black;
    border-width: 0 0 1px 0;
}

#screenNameOverlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20% 0 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 20000;
    background-color: rgba(255, 255, 255, .9);
}

#screenNameOverlay input {
    text-transform: none;
    width: 500px;
    font-size: 2em;
    padding: .5em;
    border: solid black;
    border-width: 0 0 2px 0;
    background: rgba(255, 255, 255, 0);
}

#screenNameOverlay button {
    font-weight: bold;
    font-size: 2em;
    padding: .5em;
    border: solid black;
    border-width: 0 0 2px 0;
    background: #000;
    color: #fff;
}
